@import "../../styles/global";
@import "../../styles/mixins";
.Checkout {
  width: 100%;
  background: transparent;

  &__container {
    width: 100%;
    max-width: 1036px;
    height: auto;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
    margin: 46px auto 28px;
    padding: 2rem;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
    &--payment {
      width: 100%;
      height: auto;
      border-radius: 4px;
      display: flex;
      flex-direction: column;

      & .delivery {
        width: 100%;
        height: auto;
        border: 1px solid $secondary;
        border-radius: 4px;
        margin-bottom: 1rem;
        padding: 20px;

        &--title {
          font-size: 20px;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 10px;

          & svg {
            width: 20px;
          }
        }
        &--subtitle {
          font-weight: 500;
          margin-top: 10px;
          margin-bottom: 10px;
          line-height: 1.25;
        }
        &--article {
          line-height: 18px;
          font-size: 14px;
          text-align: justify;
          color: $a-link-dark;
        }
      }

      & .payment {
        width: 100%;
        height: auto;
        border: 1px solid $secondary;
        border-radius: 4px;
        margin-bottom: 1rem;
        padding: 20px;

        &--title {
          font-weight: 500;
          margin-bottom: 20px;
        }
        &--addCard {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid $primary-light;
          padding-bottom: 20px;

          & h3 {
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 30px;
          }

          &__wrapper {
            display: flex;
            align-items: center;
            cursor: pointer;
            span {
              &:first-child {
                svg {
                  fill: $a-link;
                }
              }
              &:nth-child(2) {
                margin: 0 10px;
              }
            }
            p {
              color: $a-link;
              font-weight: 500;
            }
          }
        }
        &--payPal {
          padding: 0px 20px;
          margin-top: 20px;
          &__title {
            font-weight: 500;
          }
          & article {
            margin-top: 10px;
            font-size: 14px;
            margin-bottom: 10px;
            a {
              color: $a-link;
              text-decoration: none;
              font-weight: 600;
            }
          }
          & span {
            svg {
              width: 100px;
            }
          }
        }
      }
    }
    &--total {
      width: 100%;
      height: auto;
      border: 1px solid $secondary;
      border-radius: 4px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-header {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 500;
      }
      &-main {
        padding-left: 0;
        margin-top: 1.4rem;
        li {
          aside {
            font-weight: 500;
          }
          section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 4px;
            margin-bottom: 10px;
            font-size: 14px;
            color: $a-link-dark;
          }
          &:nth-child(2) {
            section:last-child {
              margin-top: -10px;
            }
          }
        }
      }
      & .cancel-order {
        text-decoration: none;
        color: $a-link;
        font-size: 14px;
        font-weight: 500;
      }
      &-form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;

        & label {
          display: flex;
          font-size: 13px;
          justify-content: center;
          align-items: center;
          gap: 5px;
          margin-top: 10px;
          margin-bottom: 15px;
          & p {
            & a {
              color: $a-link;
              text-decoration: none;
            }
          }
        }

        & button {
          background-color: $a-link;
        }
      }
      & h6 {
        font-size: 10px;
        margin-top: 20px;
        font-weight: 500;
      }
    }
  }
}
