@import "../../styles/global";
.Checkout {
  width: 100%;
  background: transparent;
  height: 80vh;

  &__container {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
    margin-top: 2rem;
    padding: 1rem 8rem;
    &--payment {
      width: 100%;
      height: 500px;
      border: 1px solid $primary-light;
      display: flex;
      flex-direction: column;

      & .delivery {
        width: 100%;
        height: 300px;
        border: 1px solid $primary-light;
      }
    }
    &--total {
      width: 100%;
      height: 500px;
      border: 1px solid $primary-light;
    }
  }
}
