@import "../../styles/global";
.header {
  width: 100%;
  background-color: $primary;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  nav {
    h1, a {
      color: $white;
      font-style: italic;
      text-decoration: none;
    }
  }
}
