@import "../../styles/global";
@import "../../styles/mixins";
.Show {
  width: 100%;
  height: auto;

  .header {
    width: 100%;
    min-height: 200px;
    background-color: $primary-dark;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3.5rem;
    gap: 30px;

    @include respond(phone) {
      flex-direction: column-reverse;
      padding: 2rem 1rem;
    }

    .title {
      display: flex;
      flex-direction: column;
      @include respond(phone) {
        width: 100%;
      }
      h1 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.3;

        @include respond(big-tab) {
          font-size: 2rem;
        }

        @include respond(phone) {
          font-size: 1.7rem;
        }
      }
      span {
        &:last-child {
          margin-top: 1rem;
          text-decoration: underline;
          cursor: pointer;
          font-weight: 500;
          display: inline;
        }
      }
    }
    .image {
      width: 294px;
      height: 150px;
      @include respond(phone) {
        width: 100%;
        height: 200px;
      }
      img {
        object-fit: cover;
        border-radius: 4px;
      }
    }
  }
  .main {
    width: 100%;
    height: auto;
    padding: 1rem 3.5rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;

    @include respond(phone) {
      padding: 2rem 1rem;
      grid-template-columns: 1fr;
    }

    .showTicket {
      color: $secondary-2;
      &--title {
        font-size: 34px;
        @include respond(phone) {
          font-size: 2.5rem;
        }
      }
      &__card {
        border-radius: 4px;
        overflow: hidden;
        margin-top: 15px;
        &--top {
          padding: 1.4rem 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid $primary;
          background-color: $primary-light;
          color: $primary;
          font-weight: 600;
        }
        &--body {
          border: 1px solid #eee;
          padding: 1rem;
          display: grid;
          grid-template-columns: 2fr 1fr;
          gap: 10px;

          aside.leftAside {
            h1 {
              text-transform: uppercase;
              font-weight: 500;
              color: $primary-dark;
            }
            p {
              margin-top: 5px;
              &.total {
                span {
                  color: $primary;
                }
              }
              &.admission {
                font-weight: 300;
                font-size: 14px;
              }
            }
          }
          aside.rightAside {
            display: flex;
            flex-direction: column;

            select {
              border: 1px solid #eee;
              padding: 5px;
              margin-top: 10px;
            }
          }
        }
      }
    }
    .showSummary {
      &--title {
        font-size: 34px;
        @include respond(phone) {
          font-size: 2.5rem;
        }
      }
      &__card {
        border-radius: 4px;
        overflow: hidden;
        margin-top: 15px;
        border: 1px solid #eee;
        &--top {
          background-color: transparent;
          padding: 1.4rem 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid $primary-light;
          color: black;
          font-weight: 300;
          text-transform: capitalize;
        }
        &--body {
          padding: 1rem;
          display: flex;
          flex-direction: column;

          li {
            padding: 20px;
            border-bottom: 1px solid $primary-light;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;

            &:last-child {
              flex-direction: column;
            }

            section {
              width: 100%;
              display: flex;
              justify-content: space-between;
              &:last-child {
                margin-top: 10px;
              }
            }
          }
        }
        &--footer {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  .notFound {
    width: 100%;
    min-height: 200px;
    background-color: $primary-dark;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 3.5rem;

    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
